<head>
    <style>
        div.post {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        }
        img {
        min-width: 100px;
        min-height: auto;
        max-width: 450px;
        max-height: auto;
        }
        img.pos {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        }
    </style>
</head>
{% extends "notepad/base.html" %}
{% block title %}{{ note.title }} - NotePado{% endblock %}
{% block content %}
{% if note.owner == user %}
<p><a href="{% url 'edit-post' note.id %}">EDIT POST</a></p>
{% endif %}
<p>{{ note.owner }}, {{ user }}</p>
<div class="post">
  <h1 align="center">{{ note.title }}</h1>
  {% if note.image %}
    <img class="pos" src="{{ note.image.url }}">
  {% endif %}
  <p>{{ note.content|linebreaks }}</p>
</div>
{% endblock %}