{% extends 'notepad/base.html' %}
{% block title %}NotePado - Notes{% endblock %}

{% block content %}
  <h1>Все записи</h1>
{% for note in notes %}
  <p><h3>{{ note.title }} - <a href="{{ note.get_owner_url }}">{{ note.owner }}</a></h3>
  {% if note.image %}
	<p><img width="100px" height="100px" src="{{note.image.url}}"></p>
  {% endif %}
  <p>{{ note.content|truncatechars:50 }}</p>
  <p><a href="{{ note.get_absolute_url }}">Читать полностью</a></p>
  <p style="font-size:60%">Создан: {{ note.time_create|date:"d M Y H:i" }} - Ред.: {{ note.time_update|date:"d M Y H:i" }}</p>
  <hr style="width:40%">
{% endfor %}
{% endblock %}