<head>
    <style>
        div.post {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        }
        img {
        min-width: 100px;
        min-height: auto;
        max-width: 450px;
        max-height: auto;
        }
    </style>
</head>
{% extends "notepad/base.html" %}
{% block title %}{{ note.title }} - NotePado{% endblock %}
{% block content %}
<div class="post">
  <h1 align="center">{{ note.title }}</h1>
  <img src="{{ note.image.url }}">
  <p>{{ note.content }}</p>
</div>
{% endblock %}