<!-- <head>
  <style>
    img.pos {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-width: 100px;
    min-height: auto;
    max-width: 450px;
    max-height: auto;
    }
  </style>
</head>
-->
{% extends 'notepad/base.html' %}
{% block title %}{{ username }} - NotePado{% endblock %}
{% block content %}
  <h1>This is {{ username }}'s profile</h1>
  {% if username == user.username %}
    <p><a href="{% url 'edit-profile' username %}">EDIT</a></p>
  {% endif %}
  <p><img src="{{ image.photo.url }}"></p>
  <h1>{{ user.username }}'s notes:</h1>
  {% for note in notes %}
  <p><h3>{{ note.title }}</h3>
  {% if note.image %}
	<p><img style="max-width: 200px; max-height: auto" src="{{note.image.url}}"></p>
  {% endif %}
  <p>{{ note.content|truncatechars:50 }}</p>
  <p><a href="{{ note.get_absolute_url }}">Read full</a></p>
  <p style="font-size:60%">Created: {{ note.time_create|date:"d M Y H:i" }} - Edited: {{ note.time_update|date:"d M Y H:i" }}</p>
  <hr style="width:40%">
{% endfor %}
{% endblock %}